.header {
  background-color: #262626;
  width: 100%;
  box-sizing: border-box;
  padding: 1.4rem 2.75rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #2271d1;
  box-shadow: 0px 5px 29px rgba(34, 113, 209, 0.7);
  flex-wrap: nowrap;
  position: relative;
  bottom: 0;
  left: 0;
}

.homeLink,
.addLink {
  text-decoration: none;
}

.homeButton {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: #2271d1;
  background-color: transparent;
  border: 1px solid #2271d1;
  border-radius: 30px;
}

.homeButton:hover {
  background-color: #000000e6;
  color: #2271d1;
  border: 1px solid #2271d1;
  box-shadow: inset 0px 4px 16px #2271d1b3;
}

.homeIcon,
.addIcon {
  height: 28px;
  width: 28px;
}

.homeText {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}

.addButton {
  background-color: transparent;
  border: none;
}

.addIcon {
  height: 40px;
  width: 40px;
}

@media (max-width: 680px) {
  .header {
    display: flex;
  }
}
