.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03122fc2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #03122f;
  width: 90%;
  max-width: 40rem;
  padding: 20px;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid #6bd1ff;
}

.modal__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__header button {
  position: absolute;
  top: 16px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transform: scale(0.6);
}

.modal__title {
  color: #2271d1;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-align: left;
  width: 80%;
  margin-bottom: 20px;
}

.modal__form {
  width: 80%;
}

.modal__input,
.modal__textarea {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #2271d1;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #03122f;
  color: #a5a5a5;
}

.modal__input::placeholder,
.modal__textarea::placeholder {
  color: #a5a5a5;
  font-family: 'Source Sans Pro', sans-serif;
}

.modal__textarea {
  resize: none;
  height: 100px;
}

.modal__label {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  line-height: 2;
  width: 100%;
}

.modal__button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal__button {
  font-family: 'Roboto', sans-serif;
  width: 45%;
  background-color: #03122f;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #2271d1;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 12rem;
  border-radius: 10px;
  text-transform: uppercase;
}

.modal__button:hover {
  box-shadow: inset 0 0 5px #2271d1;
  color: #2271d1;
}

.modal__button--disabled {
  box-shadow: inset 0 0 5px #2271d1;
  color: #2271d1;
  cursor: not-allowed;
}

.modal__input.error,
.modal__textarea.error {
  border-color: #e53935;
}
