.container {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.8rem 0rem;
  align-items: center;
  height: 52rem;
  gap: 1rem;
  max-height: 832px;
  margin: 0 auto;
}

.bannerImage {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  height: 52rem;
  position: absolute;
  filter: opacity(0.9);
  max-height: 832px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  box-sizing: border-box;
  position: relative;
  color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  width: 45%;
}

.tag {
  background-color: #6bd1ff;
  text-align: center;
  font-size: 2vw;
  padding: 0.5vw 2vw;
  border-radius: 20px;
  white-space: nowrap;
  line-height: 1.2;
}

.title {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
}

.playerImage {
  width: 45%;
  height: auto;
  border-radius: 30px;
  box-sizing: border-box;
  object-fit: contain;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container {
    padding: 1.8rem 1rem;
    height: 30rem;
  }

  .bannerImage {
    height: 30rem;
  }

  .tag {
    font-size: 2.5vw;
    padding: 0.5vw 2.5vw;
  }

  .title {
    font-size: 2.4rem;
  }

  .description {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .tag {
    font-size: 3vw;
    padding: 0.5vw 2.5vw;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .tag {
    font-size: 4vw;
    padding: 0.5vw 2.5vw;
    line-height: 1;
  }

  .title {
    font-size: 1.6rem;
    line-height: 1;
  }

  .description {
    font-size: 0.9rem;
    line-height: 1.1;
  }
}

@media (max-width: 680px) {
  .container {
    display: none;
  }

  .bannerImage {
    display: none;
  }
}
